/* Colores base */
:root {
  --color-principal: #00b7c2; /* Botón principal y enlaces */
  --color-header: #0a2540; /* Título principal */
  --color-texto: #333; /* Texto general */
  --color-bg: #fff; /* Fondo */
  --color-navbar-bg: #0a2540; /* Navbar */
  --color-footer-bg: var(--color-gris);
  --color-footer-text: #888;
  --color-acento: #ff6b6b;
  --color-enfasis: #ffb81c;
  --color-neutro: #f6e7d8;
  --color-gris: #6b7280;
  --color-fondo: #fff;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

/* Navbar */
.navbar {
  background-color: var(--color-principal) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--color-bg) !important;
  letter-spacing: 1px;
}

.navbar-text, .nav-link {
  color: var(--color-neutro);
}

/* Botón principal */
.btn-primary,
.btn-primary:visited {
  background-color: var(--color-principal) !important;
  border-color: var(--color-principal) !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background 0.15s;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
}

h1 {
  margin-bottom: 0.7rem;
}

.bg-dark .custom-heading {
    color: var(--color-neutro) !important;
}

/* Footer */
footer.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
  font-size: 0.95rem;
  border-top: 1px solid #eee;
  padding: 1.2em 0;
  margin-top: 4em;
}

